$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-ss-max: 576px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

$primary-color: #E25B30;
$space-m: 30px;

.container{
    max-width: 1130px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.header{
    background: url(../img/bgheader.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 900px;
    color: white;
    @media (max-width: $screen-md-max) {
        background-image:none;
        background-color: rgb(34, 39, 71);
    }
    &_h1{
        text-align: center;
        font-size: 44px;
        line-height: 56px;
        font-weight: 700;
        max-width: 936px;
        margin: 0 auto;
        padding-top: 180px;
        padding-bottom: 52px;
    }
    &_btn{
        text-align: center;
        text-decoration: none;
        color: white;
        width: 384px;
        height: 56px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #E25B30;
        border-radius: 4px;
        margin: 0 auto;
        margin-bottom: 260px;
    }
    &_aside{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: $screen-md-max){
            display: none;
        }
        &_item{
            display: flex;
            width: 300px;
            p{
                padding:0 0 0 12px;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}

.menu{
    &_nav{
        display: flex;
        justify-content: space-between;
        &_a{
            text-decoration: none;
            color: white;
            padding: 42px 0 30px 15px;
            width: 1130px;
            text-align: center;
        }
        &_btn{
            box-sizing: border-box;
            background: #E25B30;
            border-radius: 4px;
            margin: 32px;
            width: 156px;
            height: 40px;
            padding: 14px 32px;
            text-decoration: none;
            color: white;
            display: flex;
            flex: none;
            align-items: center;
        }
        @media (max-width: $screen-ss-max){
            display: none;
        }
    }
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px $space-m;
    top: 0;
    background-color: $primary-color;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 9999999;
    &__btn {
        position: relative;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: .4s;
    }
    &__icon {
      display: block;
      display: flex;
      background: rgba(255,255,255,1);
      width: 90%;
      height: 4px;
      transition: .4s;
      &::after,
      &::before {
          content: "";
          display: block;
          position: absolute;
          background: rgba(255,255,255,1);
          width: 100%;
          height: 4px;
          transition: .4s;
      }
      &::after {
        top: 8px;
      }
      &::before {
        top: -8px;
      }
    }
    &__container {
        width: 100%;
        position: fixed;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 999;
        height: 0;
        opacity: 1;
        transition: .5s;
        transition-delay: .2s;
        overflow: hidden;
        background-color: $primary-color;
    }
    &__list {
      transition: .5s;
      transition-delay: .5s;
      list-style: none;
      padding-left: 0;
      margin-top: -20px;
    }
    &__item {
      font-size: 26px;
      padding-bottom: 15px;
    }
    &__link {
      text-decoration: none;
      color: #fff;
    }
    &__checkbox {
        display: none;
        &:checked ~ {
            .mobile-menu {
                &__nav {
                  opacity: 1;
                  transition-delay: 0s;
                }
                &__container {
                  height: 100%;
                  transition-delay: 0s;
                }
                &__btn {
                  .mobile-menu__icon {
                      background: transparent;
                      &::before,
                      &::after {
                          top: 0;
                      }
                      &::after {
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                      }
                      &::before {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                      }
                  }
                }
            }
        }
      }
    @media (min-width: $screen-sm){
        display: none;
    }
  }
    

.class{
    &_box{
        max-width: 1130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        &_img-btn{
            img{
                padding-bottom: 24px;
            }
            a{
                text-decoration: none;
                color: white;
                background: #E25B30;
                border-radius: 4px;
                width: 264px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 96px;
            }
        }
    }
    &_h2{
        padding-top: 120px;
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        text-align: center;
        color: #2D2D2D;
        max-width: 980px;
        margin: 0 auto;
        padding-bottom: 44px;
        span{
            color: #6F3427;
        }
    }
}

.lessons{
    min-height: 544px;
    background: #F1E8D5;
    margin: 0 auto;
    &_h2{
        text-align: center;
        padding-bottom: 48px;
        padding-top: 79px;
        font-weight: 700;
        color: #2D2D2D;
        font-size: 36px;
        line-height: 56px;
    }
    &_img{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &_item{
            width: 288px;
            margin: 0 auto;
            display: block;
            padding-bottom: 30px;
            h3{
                text-align: center;
                font-weight: 700;
                font-size: 28px;
                line-height: 24px;
                color: #2D2D2D;
            }
            img{
                margin: 0 auto;
                display: flex;
                justify-content: center;
                padding: 30px 0 21px 0;
            }
            p{
                span{
                    font-weight: 700;
                }
                color: #2D2D2D;
                text-align: center;
                font-size: 14px;
                line-height: 22px;
                width: 280px;
            }
        }
    }
}

.skill{
    min-height: 760px;
    text-align: center;
    &_h2{
        padding-top: 103px;
        font-weight: 700;
        color: #2D2D2D;
        font-size: 36px;
        line-height: 56px;
        padding-bottom: 64px;
    }
    &_item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &_dscr{
            display: block;
            padding: 0 10px 60px 0;
            width: 264px;
            img{
                padding-bottom: 20px;
            }
        }
    }
    a{
        background: #E25B30;
        border-radius: 4px;
        width: 309px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: white;
        margin-bottom: 30px;
    }
}

.info{
    background: url(../img/info.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 800px;
    @media (max-width: $screen-lg-max){
        background: rgb(32, 31, 31);
    }
    &_h2{
        text-align: center;
        color: white;
        font-size: 36px;
        line-height: 56px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    &_h3{
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: white;
        padding-bottom: 48px;
    }
    &_list{
        display: flex;
        justify-content: center;
        p{
            color: white;
            font-size: 16px;

            font-weight: 400;
        }
        &_right{
            width: 439px;
            &_p2{
                padding-top: 44px;
                padding-bottom: 76px;
            }
            &_p4{
                padding-top: 78px;
            }
            &_p1{
                font-weight: 700;
            }
        }
        &_arrow{
            padding: 0 28px 0 28px;
        }
        &_left{
            p{
                color: #E25B30;
            }
            text-align: right;
            &_p2{
                padding: 40px 0 127px 0;
            }
            &_p4{
                padding-top: 142px;
            }
            &_p1{
                font-weight: 700;
            }
        }
    }
}

.descr{
    min-height: 720px;
    margin: 0 auto;
    max-width: 1000px;
    a{
        background: #E25B30;
        border-radius: 4px;
        width: 409px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: white;
        margin-bottom: 30px;
    }
    &_item{
        display: flex;
        justify-content: center;
        padding-top: 104px;
        padding-bottom: 48px;
        &_img{
            padding-right: 40px;
            padding-left: 30px;
            @media (max-width: $screen-md-max){
                img{
                    display: none;
                }
            }
        }
        &_text{
            position: relative;
            @media (max-width: $screen-lg-max){
                position: inherit;
                img{
                    opacity: 0;
                }
            }
            &_h4{
                padding: 34px 0 36px 0;
                font-weight: 700;
                color: #2D2D2D;
                font-size: 24px;
                line-height: 24px;
            }
            &_h3{
                color: #2D2D2D;
                font-weight: 700;
                font-size: 36px;
                line-height: 56px;
            }
            p{
                padding-bottom: 20px;
                width: 430px;
                color: #2D2D2D;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                span{
                    font-weight: 700;
                }
            }
            &_img{
                position: absolute;
                top: 120px;

            }
        }
    }
}

.reviews{
    &_h3{
        text-align: center;
        padding-bottom: 45px;
        color: #2D2D2D;
        font-size: 36px;
        line-height: 56px;
        font-weight: 700;
    }
    &_item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $screen-md-max){
            justify-content: space-around;
        }
        &_img{
            width: 255px;
            padding-left: 20px;
            span{
                font-size: 18px;
                line-height: 18px;
                font-weight: 700;
            }
            p{
                padding-top: 24px;
                color: #2D2D2D;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }
}

.video{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &_h3{
        padding-top: 104px;
        padding-bottom: 44px;
        text-align: center;
        padding-bottom: 45px;
        color: #2D2D2D;
        font-size: 36px;
        line-height: 56px;
        font-weight: 700;
    }
    &_item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 102px;
        @media (max-width: $screen-lg-max){
            justify-content: center;
        }
        p{
            font-weight: 700;
            color: #2D2D2D;
            line-height: 18px;
            font-size: 18px;
        }
        &_descr{
            padding-right: 15px;
            padding-left: 30px;
        }
    }
}

.footer{
    background: #2D2D2D;
    width: 1439px;
    width: 100%;
    height: 94px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: $screen-lg-max){
        display: none;
    }
}